# Configuration file

general {
    # Can compressed blocks be used for beacons? [default: true]
    B:areBeaconBlocks=true

    # What light level does a Compressed Nether Star Block Give? [range: 0.0 ~ 1.0, default: 0.85]
    S:comprstarLightLevel=0.85
    B:enableDebugItems=true

    # What light level does an Endgamium Block give? [range: 0.0 ~ 1.0, default: 1.0]
    S:endgamiumLightLevel=1.0

    # Is the game allowed to fall back on a Vanilla Minecraft recipe if it can't find all the mod items? [default: false]
    B:noSafeRecipe=false
}


